footer{
    padding: 20px;
    align-items: center; /* Alinea verticalmente los elementos al centro */
    justify-content: center;
    background-color:rgb(41, 39, 50) ;
    max-width :100%;
    color: white;
}
