body {
    font-family: Arial, sans-serif;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item-field {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item-field:hover {
    transform: scale(1.05);
}

.icon {
    width: 60px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
}

button {
    margin: 10px 0;
    font-weight: 400;
    color: #212529;
    text-align: center;
    cursor: pointer;
    background-color: #e4e09f;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:hover {
    color: #fff;
    background-color: #c2a048;
    border-color: rgb(66, 60, 34);
}

button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(82, 80, 16, 0.5);
}

button:active {
    background-color: #8f7531;
    border-color: #e4e09f;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.client-overlay {
    margin-top: 10px;
}

.item-info {
    background-color: rgb(219, 216, 205);
    font-weight: 100;
    border: 2px inset rgb(122, 117, 102);
    padding: 10px;
    display: block;
    text-transform: uppercase;
    color: black;
}

.descripcion {
    display: block;
    padding: 20px;
    max-width: 80vw;
    background-color: rgb(219, 216, 205);
    font-weight: 100;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1000px) {
    .item-field {
        width: 100%;
        max-width: 90vw;
        margin: 10px;
    }

    .descripcion {
        text-align: left;
        padding: 10px;
        font-size: 1em;
    }

    .icon {
        margin: auto;
    }
}
