

<div class="row">

    <div class="section-heading">
        <h2 class="section-heading">Generador de objetos</h2>
        <form>
            <input [(ngModel)]="nivel" type="number" id="nivel" name="nivel" min="1" max="20"><br> 
            <button (click)="allRandom()"> Todo aleatorio </button>
        </form>
        <p class="section-subtitle"> Genera de forma aleatoria un objeto. A mayor puntuación / nivel, mejores oportunidades de encontrar objetos especiales (máximo D20) </p> 
    </div>

    <div class="item-container">
        <div class="item-field">
            <img src="img/company-images/inventory.png" alt="icon" class="icon" (click)="buscar()"/>
            <button (click)="buscar()"> Buscar un objeto </button>
            <div class="client-overlay">
                <span class="item-info"> {{ tipoDeOjbeto }} {{ sobrenombre }} </span>
            </div>
        </div>
    
        <div class="item-field">
            <img src="img/company-images/map.png" alt="icon" class="icon" (click)="inspeccionar()"/>
            <button (click)="inspeccionar()"> Inspeccionar material </button>
            <div class="client-overlay">
                <span class="item-info"> {{ material }} </span>
            </div>
        </div>
    
        <div class="item-field">
            <img src="img/company-images/investigar.png" alt="icon" class="icon" (click)="detectar()"/>
            <button (click)="detectar()"> Escrutar propiedades </button>
            <div class="client-overlay">
                <span class="item-info"> {{ efectoMagico }} </span>
            </div>
        </div>
    </div>
    
    <span class="descripcion">
        " {{ itemDescription }} "
    </span>

</div>