
header {
    background-color: #f8f9fa;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    width: 50px;
}

#nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#nav-list li {
    margin: 0 10px;
}

#nav-list a {
    text-decoration: none;
    color: #333;
}

#nav-list a:hover {
    color: #ffc400;
}