<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
    <div id="header" class="nav-collapse">
        <div class="row clearfix">
            <div class="col-1">

                <!--Logo-->
                <div id="logo">
                    <img src="img/icons/armour.png" id="banner-logo" alt="Landing Page"/>
                </div>
                <!--End of Logo-->

                <!--Main Navigation-->
                <nav id="nav-main">
                    <ul>
                        <li>
                            <a href="#escenarios">Escenarios</a>
                        </li>
                        <li>
                            <a href="#items">Objetos</a>
                        </li>
                        <li>
                            <a href="#personajes">Personajes</a>
                        </li>
                    </ul>
                </nav>
                <!--End of Main Navigation-->

                <div id="nav-trigger"><span></span></div>
                <nav id="nav-mobile"></nav>

            </div>
        </div>
    </div><!--End of Header-->

</header>