.row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  
#poster {
    max-width: 40vw;
    height: auto;
    flex-shrink: 0;
  }
  
#banner-description{
    margin-left: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    font-size: 16px;
    margin: 35px 0;
    padding: 11px 16px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
}

  
  /* Media query for small screens */
  @media (max-width: 768px) {
    #poster {
      display: none;
    }
    
    #banner-description {
      margin-left: 0;
      width: 100%;
    }
  }