<app-header></app-header>


<div class="container">

    <form id="scenario-form">
        <label for="nivel"> <h3> Nivel del item: </h3> *Max lvl 20 </label><br>
        <input [(ngModel)]="nivel" type="number" id="nivel" name="nivel" min="1" max="20"><br>
    </form>
    
    <app-items [nivel]="nivel"></app-items>

    <form id="scenario-form">
        <label for="character-name">Character Name:</label><br>
        <input type="text" id="character-name" name="character-name"><br>
        <label for="character-class">Character Class:</label><br>


        <select id="character-class" name="character-class">
            <option value="knight">Knight</option>
            <option value="wizard">Wizard</option>
            <option value="archer">Archer</option>
        </select><br>

        


        <input type="submit" value="Generate Scenario">
    </form>
</div>