body {
    font-family: Arial, sans-serif;
}




.personajes-info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.img-npc {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.img-npc:hover {
    transform: scale(1.1);
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

input[type='text']{
    max-width: 400px;
    padding: 10px;
    display: inline;
}

.item-info {
    background-color: rgb(219, 216, 205);
    font-weight: 100;
    border: 2px inset rgb(122, 117, 102);
    font-style: italic;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.button-reveal {
    width: 30px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.button-reveal:hover {
    opacity: 0.7;
}

@media (max-width: 1000px) {
    .personajes-info {
        flex-direction: column;
        align-items: center;
    }

    .img-npc {
        display: none;
    }

    .item-info {
        text-align: left;
        flex-direction: column;
        align-items: flex-start;
    }
}
