

p {
    line-height: 25px;
}

a {
    text-decoration: none;
    line-height: inherit;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}


/*------------------------------------------------------------------------------------------*/
/* 2. Layout Elements */
/*------------------------------------------------------------------------------------------*/


.row {
    max-width: 1245px;
    margin: auto;
    padding: 25px 0;
    position: relative;
}




@media (max-width: 600px) {
  
  }