

<app-banner/>

<div class="row">
    <div class="section-heading" id="npc-gen">
        <h2 class="section-title">Generador de Escenarios</h2>
       
        <p class="section-subtitle">Genera de forma aleatoria un escenario. </p>
    </div>
    
    <app-trama/>

    <div class="gallery">

        <figure (click)= "onSelectScenario($event)">
            <img  src="img/gallery-images/medieval/medieval-church-2.png" alt="church"/>
            <figcaption> La Iglesia </figcaption>    
        </figure>

        <figure (click)= "onSelectScenario($event)" >
            <img src="img/gallery-images/medieval/medieval-maze-2.png" alt="maze"/>
            <figcaption> Las mazmorras </figcaption>
        </figure>

        <figure (click)= "onSelectScenario($event)">
            <img  src="img/gallery-images/medieval/medieval-city-2.png" alt="town"/>
            <figcaption> Cuarteles </figcaption>
        </figure>

        <figure (click)= "onSelectScenario($event)">
            <img  src="img/gallery-images/medieval/medieval-tower-1.png" alt="tower"/>
            <figcaption> La Torre </figcaption>
        </figure>

        <figure (click)= "onSelectScenario($event)">
            <img  src="img/gallery-images/medieval/medieval-market-2.png" alt="market"/>
            <figcaption> El Mercado </figcaption>
        </figure>

        <figure (click)= "onSelectScenario($event)">
            <img  src="img/gallery-images/medieval/medieval-inn-1.png" alt="inn"/>
            <figcaption> La Posada </figcaption>
        </figure>
    </div>

    

    @if (isDungeon){
        <app-mazmorreo/>
    } @else {
        <app-scenario-detail [escenario]="selectedScenario()"/>
    }
    
    
</div>

