<div class="row">
    <div class="section-heading" id="npc-gen">
        <h2 class="section-title">Generador de Escenarios</h2>
        <button> Randominzar NPC  </button>
        <p class="section-subtitle">Genera de forma aleatoria un escenario. </p>
    </div>
    <div class="gallery">
        <img (click)= "onSelectScenario($event)" src="img/gallery-images/medieval/medieval-church-2.png" alt="church"/>
        <img (click)= "onSelectScenario($event)" src="img/gallery-images/medieval/medieval-maze-1.png" alt="maze"/>
        <img (click)= "onSelectScenario($event)" src="img/gallery-images/medieval/medieval-city-2.png" alt="cuarteles"/>
        <img (click)= "onSelectScenario($event)" src="img/gallery-images/medieval/medieval-tower-1.png" alt="tower"/>
        <img (click)= "onSelectScenario($event)" src="img/gallery-images/medieval/medieval-market-2.png" alt="market"/>
        <img (click)= "onSelectScenario($event)" src="img/gallery-images/medieval/medieval-tabern-1.png" alt="inn"/>
    </div>

    <app-scenario-detail [escenario]="selectedScenario()"/>
</div>