<div class="row">
    <div class="section-heading" id="npc-gen">
        <h2 class="section-title">Generador de Escenarios</h2>
        <button> Randominzar NPC  </button>
        <p class="section-subtitle">Genera de forma aleatoria un escenario. </p>
    </div>
    <div class="gallery">
        <img (click)= "onSelectScenario($event)" src="img/gallery-images/gallery-image-6.jpg" alt="0"/>
        <img (click)= "onSelectScenario($event)" src="img/gallery-images/gallery-image-2.jpg" alt="1"/>
        <img (click)= "onSelectScenario($event)" src="img/gallery-images/gallery-image-3.jpg" alt="2"/>
        <img (click)= "onSelectScenario($event)" src="img/gallery-images/gallery-image-4.jpg" alt="3"/>
        <img (click)= "onSelectScenario($event)" src="img/gallery-images/gallery-image-5.jpg" alt="4"/>
        <img (click)= "onSelectScenario($event)" src="img/gallery-images/gallery-image-1.jpg" alt="5"/>
    </div>

    <app-scenario-detail [escenario]="selectedScenario"/>
</div>