
<div appHideDetails> <!-- Recuerda que appHideDetails es una directiva para ocultar-->

    <div class="item-info">
        <img src="img/gallery-images/medieval/medieval-{{ escenario }}-{{ randint }}.png" class="img-details"/>
    
        <h3>{{ place?.nombre }} </h3>
        <p>{{ place?.historia }} </p>
        <p>{{ place?.descripcion }} </p>    
        <button> Ampliar detalles </button>
    </div>


    <div class="ocultar">
        <div class="item-info">
            <h4> Evento 1 </h4>
            <p>{{ place?.evento1 }} </p>

            <h4> Evento 2 </h4>
            <p>{{ place?.evento2 }} </p>
        </div>

        <div class="item-info" >
            <h4> Una noticia inesperada </h4>
            <p>{{ place?.noticia }} </p>
        </div>

        <div class="item-info">
            <h4>El visitante</h4>
            <p>{{ place?.visitante?.descripcion }} </p>
            <p>{{ place?.visitante?.personalidad }} </p>
            <p>{{ place?.visitante?.motivo }} </p>
        </div>

        <div class="item-info" >
            <h4>Una persona peculiar...</h4>
            <p>{{ place?.habitante?.descripcion }} </p>
            <p>{{ place?.habitante?.personalidad }} </p>
            <p>{{ place?.habitante?.motivo }} </p>
        </div>
    </div>

</div>